<?xml version="1.0"?>
<launch>	
	<node pkg="Base_control" type="app_Controlservice" name="Control_Service" output="screen">
		<param name="linear_factor" type="double" value="2.0"/>
		<param name="angular_factor" type="double" value="2.0"/>

		<remap from="/base_move" to="dut_base_link/cmd_vel"/>

	</node>
	<node pkg="Insrob_server" type="app_Insrob_server" name="TCP_server" output="screen">
		<remap from="/air_points" to="/air_points"/>
		<remap from="/air_pose" to="/air_pose"/>
	</node>
	
</launch>
