<launch>

  <node pkg="laser_slam_algorithm" type="register" name="register" output="screen"/>
  <node pkg="laser_slam_algorithm" type="odom" name="odom" output="screen"/>
  <node pkg="laser_slam_algorithm" type="relocalization" name="relocalization" output="screen"/>
  <!--node pkg="laser_slam_algorithm" type="transform" name="transform" output="screen"/-->

</launch>
